<% include ./partials/header %>
	<h1>Welcome</h1>
	<form action = "/comics/create" method = "POST">
		<input type = "text" name = "title">
		<input type = "submit" value = "create">
	</form>
<script>
	querySelector("#comics").classList.remove("active");
	querySelector("#home").classList.remove("active");
	querySelector("#create").classList.add("active");
</script>
<% include ./partials/footer %>