<% include ./partials/header %>
	<div class = "ui containter">
		<div class = "ui container">
			<form class="ui form" action = "/comics/new" method = "POST" enctype = "multipart/form-data">
				<div class = "field">
					<label>image</label>
					<input type = "file" name = "myImage">
				</div>
				<div class="field">
			    	<label>Text</label>
			    	<textarea name = "textarea"></textarea>
			  	</div>
			  	<div class = "field">
			  		<input id = "plus" type = "submit" name = "plus" value = " + ">
			  	</div>
			</form>
			<a href = "/comics/tmp"><button id = "Add"> Add </button></a>
		</div>
	</div>
<script type = "javascript" src = "/js/download.js"></script>
<% include ./partials/footer %>